.bgedit{
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
}

.game1{
    background-image: url(./pics/Gta-vice-city-ft.jpg);
}

.game2{
    background-image: url(./pics/gta5.jpg);
}

.game3{
    background-image: url(./pics/ac\ miraj.jpg);
}

.game4{
    background-image: url(./pics/cyberpunk.jpg);
}
.game5{
    background-image: url(./pics/far\ cry6.jpg);
}
.game6{
    background-image: url(./pics/god\ of\ war.jpg);
}
.game7{
    background-image: url(./pics/rdr2.jpg);
}
.game8{
    background-image: url(./pics/san\ andreas\ gta.jpg);
}
.game9{
    background-image: url(./pics/the\ evil\ within.jpg);
}
.game10{
    background-image: url(./pics/the\ last\ of\ us.jpg);
}
.game11{
    background-image: url(./pics/TheHouseOfTheDeadRemake.jpg);
}
.game12{
    background-image: url(./pics/inside.jpg);
}
.game13{
    background-image: url(./pics/battle\ field.jpg);
}
.game14{
    background-image: url(./pics/dishonored-.jpg);
}
.game15{
    background-image: url(./pics/dishonored\ 2.jpg);
}
.game16{
    background-image: url(./pics/assassins-creed-iii-pc-game-ubisoft-connect-cover.jpg);
}
.game17{
    background-image: url(./pics/forza\ 5.jpg);
}
.game18{
    background-image: url(./pics/road\ rage.jpg);
}
.game19{
    background-image: url(./pics/takken\ 8.jpg);
}
.game20{
    background-image: url(./pics/Minecraft.jpg);
}
.game21{
    background-image: url(./pics/resident\ evi.jpg);
}
.game22{
    background-image: url(./pics/spider\ man.jpg);
}
.game23{
    background-image: url(./pics/dota\ 2.jpg);
}
.game24{
    background-image: url(./pics/warzone.jpg);
}